---
http_interactions:
- request:
    method: get
    uri: "<API_ENDPOINT>/feeds/index"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        [
            {
                "Feed": {
                    "id": "1",
                    "name": "CIRCL OSINT Feed",
                    "provider": "CIRCL",
                    "url": "https:\/\/www.circl.lu\/doc\/misp\/feed-osint",
                    "rules": null,
                    "enabled": false,
                    "distribution": "3",
                    "sharing_group_id": "0",
                    "tag_id": "0",
                    "default": true,
                    "source_format": "misp",
                    "fixed_event": false,
                    "delta_merge": false,
                    "event_id": "0",
                    "publish": false,
                    "override_ids": false,
                    "settings": null,
                    "input_source": "network",
                    "delete_local_file": false,
                    "lookup_visible": false,
                    "headers": null,
                    "caching_enabled": false,
                    "force_to_ids": false,
                    "cache_timestamp": false
                }
            },
            {
                "Feed": {
                    "id": "2",
                    "name": "The Botvrij.eu Data",
                    "provider": "Botvrij.eu",
                    "url": "http:\/\/www.botvrij.eu\/data\/feed-osint",
                    "rules": null,
                    "enabled": false,
                    "distribution": "3",
                    "sharing_group_id": "0",
                    "tag_id": "0",
                    "default": true,
                    "source_format": "misp",
                    "fixed_event": false,
                    "delta_merge": false,
                    "event_id": "0",
                    "publish": false,
                    "override_ids": false,
                    "settings": null,
                    "input_source": "network",
                    "delete_local_file": false,
                    "lookup_visible": false,
                    "headers": null,
                    "caching_enabled": false,
                    "force_to_ids": false,
                    "cache_timestamp": false
                }
            },
            {
                "Feed": {
                    "id": "3",
                    "name": "ZeuS IP blocklist (Standard)",
                    "provider": "zeustracker.abuse.ch",
                    "url": "https:\/\/zeustracker.abuse.ch\/blocklist.php?download=ipblocklist",
                    "rules": "{\"tags\":{\"OR\":[],\"NOT\":[]},\"orgs\":{\"OR\":[],\"NOT\":[]}}",
                    "enabled": false,
                    "distribution": "0",
                    "sharing_group_id": "0",
                    "tag_id": "2",
                    "default": true,
                    "source_format": "csv",
                    "fixed_event": true,
                    "delta_merge": true,
                    "event_id": "0",
                    "publish": false,
                    "override_ids": true,
                    "settings": "{\"csv\":{\"value\":\"1\",\"delimiter\":\"\"},\"common\":{\"excluderegex\":\"\"}}",
                    "input_source": "network",
                    "delete_local_file": false,
                    "lookup_visible": true,
                    "headers": null,
                    "caching_enabled": false,
                    "force_to_ids": false,
                    "cache_timestamp": false
                },
                "Tag": {
                    "id": "2",
                    "name": "osint:source-type=\"block-or-filter-list\"",
                    "colour": "#004f89",
                    "exportable": true,
                    "org_id": "0",
                    "user_id": "0",
                    "hide_tag": false,
                    "numerical_value": null
                }
            },
            {
                "Feed": {
                    "id": "4",
                    "name": "ZeuS compromised URL blocklist",
                    "provider": "zeustracker.abuse.ch",
                    "url": "https:\/\/zeustracker.abuse.ch\/blocklist.php?download=compromised",
                    "rules": "{\"tags\":{\"OR\":[],\"NOT\":[]},\"orgs\":{\"OR\":[],\"NOT\":[]}}",
                    "enabled": false,
                    "distribution": "0"[...]
